<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Merienda+One|Raleway:400,700,900&display=swap" rel="stylesheet" />
  <link href="/public/vendor/normalize-4.1.1.css">
  <link type="text/css" href="/styles/nav-bar.css" rel="stylesheet" />
  <link type="text/css" href="/styles/header.css" rel="stylesheet" />
  <link type="text/css" href="/styles/main.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/2c4ef76a61.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>LH Eats</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Rumours - Restaurant & Lounge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
      </ul>
    </div>
  </nav>
  <header>
    <h1 class="welcome-message">
      <!-- “Ate, eating, going to eat” that’s what you must care about. -->
    </h1>

    <div class="video-container">
        <video id="videoBG" autoplay loop muted width="100%">
          <source src="/assets/food-background-video .mp4" type="video/mp4">
        </video>
    </div>
  </header>
  <main>
    <p class ="menuheader"> Menu</p>
    <div class="dish-items">
      <p class="dishsubheader"> Starters </p>
      <div class="typestarters">
        <% dishes.starters.forEach(function(dish){ %>
          <%- include('_dish', { dish: dish }) %>
        <% }); %>
      </div>

      <p class="dishsubheader"> Mains </p>
      <div class="typemains">
      <% dishes.mains.forEach(function(dish){ %>
        <%- include('_dish', { dish: dish }) %>
      <% }); %>
      </div>

      <p class="dishsubheader"> Desserts </p>
      <div class="typedesserts">
      <% dishes.desserts.forEach(function(dish){ %>
        <%- include('_dish', { dish: dish }) %>
      <% }); %>
      </div>

      <p class="dishsubheader"> Cocktails </p>
      <div class="typecocktails">
      <% dishes.cocktails.forEach(function(dish){ %>
        <%- include('_dish', { dish: dish }) %>
      <% }); %>
      </div>

    </div>

    <form action="/home/order" id="orderssummary" name="ordersummary" method="POST">
      <div < class="order-summary">
        <p class="order-summary-title">Order Summary</p>
        <div class="order-detail">
          <p class="order-item">Item</p>
          <p class="order-qty">Quantity</p>
          <p class="order-price">Price</p>
        </div>
        <div class="order-list">
        </div>
        <div class="sub-total order-detail">
          <p>Sub-Total</p>
          <p id="sub-total-price"></p>

        </div>
        <div class="sub-total order-detail">
          <p>Tax</p>
          <p id="tax-price"></p>
        </div>
        <div class="total order-detail">
          <p>Total</p>
          <p id="total-price"></p>
        </div>
        <input class="submit-order" type="submit" value="Order">
    </form>
    </div>
  </main>
  <footer>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</html>
