<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/2c4ef76a61.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <link href="https://fonts.googleapis.com/css?family=Merienda+One|Raleway:400,700,900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../styles/nav-bar.css" type="text/css" />
  <link rel="stylesheet" href="../styles/header.css/" type="text/css" />
  <link rel="stylesheet" href="../styles/main.css" type="text/css">
  <title>LH Eats</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Lighthouse Eats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
      </ul>
    </div>
  </nav>
  <header>
    <h1 class="welcome-message">
      Your food. Our passion. We carry your hunger!
    </h1>
  </header>

  <main>
    <div class="dish-items">
      <div class="dish-item1 dish-item">
        <p class="dish-title">Pizza</p>
        <img class="dish-item-picture" src="../public/assets/pizza.png" alt="cheese pizza picture" />
        <p class="dish-price">$11.99</p>
        <form class="dish-purchase" action="" method="post">
          <input class="dish-minus" type="button" value="-">
          <input class="dish-qty" type="text" name="" id="" placeholder="0">
          <input class="dish-add" type="button" value="+">
        </form>

      </div>
      <div class="dish-item2 dish-item">
        <p class="dish-title">Burger</p>
        <img class="dish-item-picture" src="../public/assets/burger.png" alt="chicken burger picture" />
        <p class="dish-price">$9.99</p>
        <form class="dish-purchase" action="" method="post">
          <input class="dish-minus" type="button" value="-">
          <input class="dish-qty" type="text" name="" id="" placeholder="0">
          <input class="dish-add" type="button" value="+">
        </form>

      </div>
      <div class="dish-item3 dish-item">
        <p class="dish-title">Fries</p>
        <img class="dish-item-picture" src="../public/assets/fries.png" alt="fries" />

        <p class="dish-price">$2.99</p>
        <form class="dish-purchase" action="" method="post">
          <input class="dish-minus" type="button" value="-">
          <input class="dish-qty" type="text" name="" id="" placeholder="0">
          <input class="dish-add" type="button" value="+">
        </form>

      </div>
      <div class="dish-item4 dish-item">
        <p class="dish-title">Burrito</p>
        <img class="dish-item-picture" src="../public/assets/burrito.png" alt="chicken burrito" />
        <p class="dish-price">$8.99</p>
        <form class="dish-purchase" action="" method="post">
          <input class="dish-minus" type="button" value="-">
          <input class="dish-qty" type="text" name="" id="" placeholder="0">
          <input class="dish-add" type="button" value="+">
        </form>
      </div>
    </div>
    <div class="order-summary">
      <p class="order-summary-title">Order summary</p>
      <div class="order-detail">
        <p class="order-item">Item</p>
        <p class="order-qty">Qty</p>
        <p class="order-price">Price</p>
      </div>
      <div class="order-detail">
        <p class="ordered-item">Pizza</p>
        <p class="ordered-qty">1</p>
        <p class="ordered-price">$11.99</p>
      </div>
      <div class="sub-total order-detail">
        <p>Sub-Total</p>
        <p>$11.99</p>
      </div>
      <div class="total order-detail">
        <p>Total</p>
        <p>$13.55</p>
      </div>
      <form action="/" method="POST">
        <input class="submit-order" type="submit" value="Order">
      </form>
    </div>
  </main>

</html>
