<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <form id="form" action="/test/" method="post">
      <textarea
        class="composemessage"
        name="pasta"
        placeholder="Say Something Profound..."
      ></textarea>
      <div class="belowarticle">
        <input id="submit" type="submit" value="Send" />
      </div>
    </form>
  </head>
  <body></body>
</html>
