body {
  background-image: url(./food-background-green.jpg);
  background-color: rgba(0, 0, 0, 0.67);
  background-blend-mode: overlay;
  font-family: 'Raleway',
    sans-serif;
}

header {
  background-image: url(./food-background.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  height: 80vh;
  background-size: cover;
  position: relative;

}

.welcome-message {
  color: rgb(230, 218, 211);
  font-weight: 700;
  font-size: 3rem;
  padding-top: 15rem;
  padding-left: 15rem;
  position: absolute;
  top: 25%;
  left: 25%;
  font-family: 'Merienda One',
    cursive;

}