.dish-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 70%;
}

.order-summary {
  min-height: 100px;
  width: 20%;
  background-color: rgba(8, 8, 8, 0.486);
  margin: 5% 0px 2% 0px;
  position: fixed;
  float: right;
  bottom: 2rem;
  right: 3%;
  color: orangered;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: sans-serif;
}

.order-summary-title {
  border-bottom: 1px solid rgb(235, 160, 133);
  border-radius: 15px;
  padding-bottom: 5px;
}

.order-detail {
  display: flex;
  justify-content: space-between;
}


main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dish-item-picture {
  height: 7rem;
  width: 7rem;
}

.dish-item {
  position: relative;
  border: 1px solid orangered;
  border-radius: 5px;
  padding: 4%;
  text-align: center;
  min-height: 35vh;
  width: 70%;
  margin: 25px;
}

.dish-title {
  font-weight: 700;
  color: orangered;
  font-size: 1.3rem;
  width: 100%;
  text-align: center
}

.dish-purchase {
  text-align: center;
  font-weight: 700;
  color: orangered;
  font-size: 1.5rem;
}

.dish-price {
  text-align: center;
  font-family: Sans-serif;
  font-size: 1.3rem;
  margin: 1rem;
  font-weight: 500;
  color: white;
}


.dish-qty {
  width: 35%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.623);
  font-weight: 700;
  color: orangered;
  border: 1px solid orangered;
  margin: 5%;
  border-radius: 10px;
}

.dish-add,
.dish-minus {
  background-color: rgba(0, 0, 0, 0.075);
  color: orangered;
  border: 1px solid orangered;
  border-radius: 5px 20px 5px;
  width: 35px;
  font-weight: 400;
}

.dish-add:hover,
.dish-minus:hover {
  background-color: orangered;
  color: black;
}

::placeholder {
  color: orangered;
}

.ordered-item {
  color: white;
  background: none;
  width: 100%;
  border: none;
  white-space: nowrap;
}

.ordered-detail {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
}

.sub-total {
  margin-top: 2%;
  color: rgb(228, 162, 139);
}

.price {
  text-align: right;
}

.total {
  animation: 2s linear infinite total;
}

.submit-order {
  background-color: rgba(0, 0, 0, 0.514);
  color: rgb(236, 225, 220);
  border-radius: 8px;
  border: 1px solid orangered;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px 15px;
}

.submit-order:hover {
  background-color: rgb(241, 64, 0);
  color: black;
}
