.navbar-dark .navbar-brand {
  color: rgb(223, 183, 168);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

nav {
  background-color: rgba(0, 0, 0, 0.692);
}

.navbar-brand:hover {
  color: rgb(223, 183, 168);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(223, 183, 168);
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.navbar-dark .navbar-toggler {
  border-color: rgb(223, 183, 168);
}

@media only screen and (max-width: 600px) {
  .navbar-dark .navbar-brand,
  .nav-link {
    font-size: 1.2rem;
  }
  .fixed-top {
    background-color: black;
  }
}
