#map {
  height: 60vh;
  width: 80vh;
  border: 1px solid;
  border-radius: 15px;
}

body {
  background-size: cover;
  background-color: rgb(240, 240, 240);
}

.google-maps {
  margin: 0% auto;
}

#msg {
  color: rgb(94, 94, 94);
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
}

#mode {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: rgba(80, 80, 80, 0.486);
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.travel-mode {
  display: inline-block;
}

main {
  display: flex;
  justify-content: space-between;
}

.ordered-item {
  color: white;
}

.sub-total {
  margin-top: 2%;
  color: rgb(112, 112, 112);
}

.total {
  animation: 2s linear infinite total;
}

.order-summary {
  min-height: 10vh;
  width: 35%;
  background-color: rgba(80, 80, 80, 0.486);
  margin-right: 5%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.order-summary-title {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding-bottom: 5px;
}

.order-detail {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  text-align: left;
}

.ordered-detail {
  color: white;
  // text-align: left;
}

.price {
  text-align: right;
}

.underline {
  text-decoration-line: underline;
}

.total {
  text-decoration-style: double;
}

.tax-price {
  color: rgb(112, 112, 112);
}

.user-picture {
  width: 30%;
  border-radius: 50%;
  float: right;
}

.user-support {
  margin-top: 10%;
  text-align: center;
  margin-left: 10%;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    width: 100%;
  }

  h3,
  #mode {
    font-size: 1.2rem;
  }

  .order-summary {
    width: 100%;
    margin: 5%;
    font-size: 1rem;
  }

  main {
    flex-wrap: wrap;
  }

  #map {
    margin: 5% auto;
    height: 45vh;
    width: 50vh;
  }

}
